BiologySystemEJB/BiologySystemWeb/ClassXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">                
    <xs:element name="Class" type="Class"/>
      <xs:complexType name="Class">
        <xs:sequence>
            <xs:element name="id" type="xs:nonNegativeInteger" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="parent" type="xs:nonNegativeInteger" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>